body {
  font-family: sans-serif;
  background-color: black;
}

h1 {
  color: lightgrey;
}

.container {
  display: inline-flex;
  flex-direction: column;
}

.addTodo {
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  margin: 0 0 10px 5px;
}

.addTodo input {
  font-size: 1em;
}

#description {
  width: 300px;
  margin-left: 20px;
}

#dueDate {
  width: 100px;
  text-align: center;
}

#todoList {
  display: inline-flex;
  flex-direction: column;
}

.todo {
  background-color: #0dc408;
  margin: 3px 0;
  padding: 1px 15px;
}

.todo p {
  margin: 0;
  padding-top: 15px;
}

.todo button {
    margin-bottom: 5px;
}

.overdueTodo {
  background-color: #f72a46;
}

.closedTodo {
  font-style: italic;
  font-weight: lighter;
  color: #467383;
  background-color: lightgrey;
}

.closedTodo .completeButton, .closedTodo .addOneButton, .closedTodo .addTwoButton {
  visibility: hidden;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.dialogContainer {
  visibility: hidden;
}

.todo button {
  margin-left: 10px;
  float: right;
}

.deleteButton i {
  color: #f72a46;
}

.completeButton i {
  color: #0dc408;
}
