.todo {
  background-color: #0ba407;
  margin: 10px 0;
  width: 40%;
  padding: 5px 5px 10px 15px;
  /*box-shadow: 5px 5px 3px grey;*/
}

.closedTodo {
  color: darkgrey;
  background-color: lightgrey;
}

.closedTodo .completeButton {
  visibility: hidden;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.dialogContainer {
  visibility: hidden;
}

i {
  color: blue;
}
